<!--build:style-->
<link rel="stylesheet" href="assets/css/style.css">
<!--/build:style-->

<!-- build:index -->

<div class="body1">
    <div class="head">
        <img src="assets/images/sao.jpg" height="23px" width="25px">
        <a href="#">
            <h2 style="color: rgb(255, 255, 255); font-size: 17.5px;">ĐỪNG BỎ LỠ</h2>
        </a>
    </div>

    <div class="slideShow">
        <div class="gallery">
            <div class="stt">
                <a href="#"><img src="assets/images/index_1.jpg"></a>
                <a href="#">
                    <p>Chiều 1/2, Việt Nam ghi nhận thêm 30 ca mắc Covid-19 trong cộng đồng tại 6 tỉnh thành</p>
                </a>
            </div>
            <div class="stt">
                <a href="#"><img src="assets/images/index_2.jpg"></a>
                <a href="#">
                    <p>Động thái mới nhất của Thiều Bảo Trâm giữa drama với Sơn Tùng: Đăng ảnh hoa cỏ, nhân vật cực
                        hot...</p>
                </a>
            </div>
            <div class="stt">
                <a href="#"><img src="assets/images/index_3.jpg"></a>
                <a href="#">
                    <p>Cầu thủ Morocco tố trọng tài lén lút xin áo đấu của Ronaldo</p>
                </a>
            </div>
            <div class="stt">
                <a href="#"><img src="assets/images/index_1.jpg"></a>
                <a href="#">
                    <p>Chiều 1/2, Việt Nam ghi nhận thêm 30 ca mắc Covid-19 trong cộng đồng tại 6 tỉnh thành</p>
                </a>
            </div>
            <div class="stt">
                <a href="#"><img src="assets/images/index_2.jpg"></a>
                <a href="#">
                    <p>Động thái mới nhất của Thiều Bảo Trâm giữa drama với Sơn Tùng: Đăng ảnh hoa cỏ, nhân vật cực
                        hot...</p>
                </a>
            </div>
            <div class="stt">
                <a href="#"><img src="assets/images/index_3.jpg"></a>
                <a href="#">
                    <p>Cầu thủ Morocco tố trọng tài lén lút xin áo đấu của Ronaldo</p>
                </a>
            </div>
            <div class="stt">
                <a href="#"><img src="assets/images/index_1.jpg"></a>
                <a href="#">
                    <p>Chiều 1/2, Việt Nam ghi nhận thêm 30 ca mắc Covid-19 trong cộng đồng tại 6 tỉnh thành</p>
                </a>
            </div>
            
        </div>
    </div>

    <div style="text-align:center; margin-top: 2px;">
        <span class="dot dot1" onclick="currentSlide(1)"></span>
        <span class="dot dot2" onclick="currentSlide(2)"></span>
        <span class="dot dot3" onclick="currentSlide(3)"></span>
        <span class="dot dot4" onclick="currentSlide(4)"></span>
        <span class="dot dot5" onclick="currentSlide(5)"></span>

    </div>

</div>
<div class="sliderNav">
    <a class="sliderNext">&#8594;</a>
    <a class="sliderPrev">&#8592;</a>
</div>

<script src="assets/js/js_index.js"></script>
<!-- /build:index -->


<!--build:style1-->
<link rel="stylesheet" href="assets/css/style1.css">
<!--/build:style1-->
  
<!-- build:index1 -->
   <div class="group">
      <div class="gallery-items">
          <div  class="item active">
             <img src="assets/images/demo_1.jpg" />
             <div class="caption">
               Tình yêu lớn không phải là yêu nhiều người, mà là yêu một người và yêu suốt đời
             </div>
          </div>
          <div  class="item">
             <img src="assets/images/demo_2.jpg" />
             <div class="caption">
               . Hạnh phúc! là cùng nhau mà cố gắng và vì nhau để thay đổi
             </div>
          </div>
          <div  class="item">
             <img src="assets/images/demo_3.jpg" />
             <div class="caption">
               Chỉ mất 3 giây để nói lời yêu, nhưng phải mất cả cuộc đời để chứng minh điều đó
             </div>
          </div>

      </div>
        
          <div class="left"><</div>
          <div class="right">></div>
      
   </div>

   <script src="assets/js/js_index1.js"></script>
<!-- /build:index1 -->
<!--build:style2-->
<link rel="stylesheet" href="assets/css/style2.css">
<!--/build:style2-->

<!-- build:index2 -->
<section class="slide-show">
    <div class="slide active" style="background-image:url('assets/images/anh_1.jpg');">
        <div class="container">
            <div class="caption">
                <h1>Steve Jobs</h1>
                <p>Don’t worry about many things at once. Start small, think big.</p>
            </div>
        </div>
    </div>
    <div class="slide" style="background-image:url('assets/images/anh_2.jpg');">
        <div class="container">
            <div class="caption">
                <h1>Bill Gates</h1>
                <p>It’s fine to celebrate success but it is more important to heed the lessons of failure.</p>
            </div>
        </div>
    </div>
    <div class="slide" style="background-image:url('assets/images/anh_3.jpg');">
        <div class="container">
            <div class="caption">
                <h1>Barack Obama</h1>
                <p>You can’t let your failures define you. You have to let your failures teach you.</p>
            </div>
        </div>
    </div>
    <div class="slide" style="background-image:url('assets/images/anh_4.jpg');">
        <div class="container">
            <div class="caption">
                <h1>Joker</h1>
                <p>“If you’re good at something, never do it for free”</p>
            </div>
        </div>
    </div>
</section>
<script src="assets/js/js_index2.js"></script>
<!-- /build:index2 -->