
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    width: 671.5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 1px solid rgb(223, 219, 219);
    border-right: 1px solid rgb(212, 211, 211);
    border-top: 5px solid rgb(255, 115, 0);
    border-radius: 5px;
}

.body1 {
    background-color: rgb(34, 34, 34);
    height: 310px;
}
img {
    max-width: 100%;
    max-height: auto;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(144, 144, 165);
}
.head {
    display: inline-flex;
    position: relative;
    margin-left: 10px;
    margin-bottom: 4px;
    img{
        margin-top: 18px;
    }
    h2{
        margin-left: 12px;
    }
}
.gallery {
    position: absolute;

    transition-property: top, left;
    transition-duration: 1s, 1s;
    transition-delay: 0s, 1s;
    left: 0;
}
.slideShow {
    width: 675px;
    height: 220px;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 10px;
    .stt {
        float: left;
        width: 210px;
        max-width: 100%;
        height: 245px;
        margin-right: 15px;
        background-color: rgb(252, 245, 245);
        p {
            font-weight: 700;
            margin-top: 4px;
            margin-left: 8px;
        }
    }
}
.sliderNext {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 20px 7.5px 20px 7.5px;
    margin-top: -230px;
    right: 50.9%;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.3s ease;
    border-radius: 5px 0px 0px 5px;
    user-select: none;
}
.sliderNext:hover {
    background-color: rgba(252, 103, 5, 0.8);
}
.sliderPrev {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 20px 7.5px 20px 7.5px;
    margin-top: -231.5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    transition: 0.3s ease;
    border-radius: 5px 0px 0px 5px;
    user-select: none;
}
.sliderPrev:hover {
    background-color: rgba(252, 103, 5, 0.8);
}
.dot {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}
.dot:hover {
    background-color:orangered;
}
#lightbox {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;

}
