body {
  background-color: #444444;
  font-family: sans-serif; }

.group {
  max-width: 640px;
  max-height: 600px;
  border: 5px solid black;
  margin: 80px auto;
  position: relative;
  overflow: hidden; }
  .group .left {
    left: 30px;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #444444;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    top: 50%;
    cursor: pointer;
    margin-top: -20px;
    text-align: center;
    line-height: 40px; }
  .group .right {
    right: 30px;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #444444;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    top: 50%;
    cursor: pointer;
    margin-top: -20px;
    text-align: center;
    line-height: 40px; }
  .group .left:hover,
  .group .right:hover {
    box-shadow: 0px 0px 10px black;
    background-color: #29a8e2; }
  .group .gallery-items .item {
    display: none;
    position: relative; }
    .group .gallery-items .item .caption {
      top: 540px;
      position: absolute;
      width: 100%;
      height: 60px;
      bottom: 0px;
      left: 0px;
      background-color: rgba(0, 0, 0, 0.5);
      line-height: 60px;
      text-align: center;
      color: #ffffff;
      font-size: 17px; }
    .group .gallery-items .item img {
      max-width: 100%;
      display: block;
      animation: zoom 1s ease; }
  .group .gallery-items .item.active {
    display: block; }

@keyframes zoom {
  0% {
    transform: scaleX(x);
    opacity: 0; }
  50% {
    transform: scale(2); }
  100% {
    transform: scale(1);
    opacity: 1; } }
