body {
  margin: 0;
  font-family: sans-serif; }

* {
  box-sizing: border-box; }

.slide-show {
  height: 100vh; }
  .slide-show .slide {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 0 15px; }
  .slide-show .slide.active {
    z-index: 3;
    animation: slideshow 3s ease; }
  .slide-show .caption h1 {
    font-size: 45px;
    color: #ffffff;
    margin: 0; }
  .slide-show .caption p {
    font-size: 16px;
    color: #ffffff;
    margin: 15px 0; }

.container {
  max-width: 1170px;
  margin: auto;
  flex-grow: 1; }

@keyframes slideshow {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }
