<!--build:style1-->
<link rel="stylesheet" href="assets/css/style1.css">
<!--/build:style1-->
  
<!-- build:index1 -->
   <div class="group">
      <div class="gallery-items">
          <div  class="item active">
             <img src="assets/images/demo_1.jpg" />
             <div class="caption">
               Tình yêu lớn không phải là yêu nhiều người, mà là yêu một người và yêu suốt đời
             </div>
          </div>
          <div  class="item">
             <img src="assets/images/demo_2.jpg" />
             <div class="caption">
               . Hạnh phúc! là cùng nhau mà cố gắng và vì nhau để thay đổi
             </div>
          </div>
          <div  class="item">
             <img src="assets/images/demo_3.jpg" />
             <div class="caption">
               Chỉ mất 3 giây để nói lời yêu, nhưng phải mất cả cuộc đời để chứng minh điều đó
             </div>
          </div>

      </div>
        
          <div class="left"><</div>
          <div class="right">></div>
      
   </div>

   <script src="assets/js/js_index1.js"></script>
<!-- /build:index1 -->