<!--build:style2-->
<link rel="stylesheet" href="assets/css/style2.css">
<!--/build:style2-->

<!-- build:index2 -->
<section class="slide-show">
    <div class="slide active" style="background-image:url('assets/images/anh_1.jpg');">
        <div class="container">
            <div class="caption">
                <h1>Steve Jobs</h1>
                <p>Don’t worry about many things at once. Start small, think big.</p>
            </div>
        </div>
    </div>
    <div class="slide" style="background-image:url('assets/images/anh_2.jpg');">
        <div class="container">
            <div class="caption">
                <h1>Bill Gates</h1>
                <p>It’s fine to celebrate success but it is more important to heed the lessons of failure.</p>
            </div>
        </div>
    </div>
    <div class="slide" style="background-image:url('assets/images/anh_3.jpg');">
        <div class="container">
            <div class="caption">
                <h1>Barack Obama</h1>
                <p>You can’t let your failures define you. You have to let your failures teach you.</p>
            </div>
        </div>
    </div>
    <div class="slide" style="background-image:url('assets/images/anh_4.jpg');">
        <div class="container">
            <div class="caption">
                <h1>Joker</h1>
                <p>“If you’re good at something, never do it for free”</p>
            </div>
        </div>
    </div>
</section>
<script src="assets/js/js_index2.js"></script>
<!-- /build:index2 -->