<!--build:style-->
<link rel="stylesheet" href="assets/css/style.css">
<!--/build:style-->

<!-- build:index -->

<div class="body1">
    <div class="head">
        <img src="assets/images/sao.jpg" height="23px" width="25px">
        <a href="#">
            <h2 style="color: rgb(255, 255, 255); font-size: 17.5px;">ĐỪNG BỎ LỠ</h2>
        </a>
    </div>

    <div class="slideShow">
        <div class="gallery">
            <div class="stt">
                <a href="#"><img src="assets/images/index_1.jpg"></a>
                <a href="#">
                    <p>Chiều 1/2, Việt Nam ghi nhận thêm 30 ca mắc Covid-19 trong cộng đồng tại 6 tỉnh thành</p>
                </a>
            </div>
            <div class="stt">
                <a href="#"><img src="assets/images/index_2.jpg"></a>
                <a href="#">
                    <p>Động thái mới nhất của Thiều Bảo Trâm giữa drama với Sơn Tùng: Đăng ảnh hoa cỏ, nhân vật cực
                        hot...</p>
                </a>
            </div>
            <div class="stt">
                <a href="#"><img src="assets/images/index_3.jpg"></a>
                <a href="#">
                    <p>Cầu thủ Morocco tố trọng tài lén lút xin áo đấu của Ronaldo</p>
                </a>
            </div>
            <div class="stt">
                <a href="#"><img src="assets/images/index_1.jpg"></a>
                <a href="#">
                    <p>Chiều 1/2, Việt Nam ghi nhận thêm 30 ca mắc Covid-19 trong cộng đồng tại 6 tỉnh thành</p>
                </a>
            </div>
            <div class="stt">
                <a href="#"><img src="assets/images/index_2.jpg"></a>
                <a href="#">
                    <p>Động thái mới nhất của Thiều Bảo Trâm giữa drama với Sơn Tùng: Đăng ảnh hoa cỏ, nhân vật cực
                        hot...</p>
                </a>
            </div>
            <div class="stt">
                <a href="#"><img src="assets/images/index_3.jpg"></a>
                <a href="#">
                    <p>Cầu thủ Morocco tố trọng tài lén lút xin áo đấu của Ronaldo</p>
                </a>
            </div>
            <div class="stt">
                <a href="#"><img src="assets/images/index_1.jpg"></a>
                <a href="#">
                    <p>Chiều 1/2, Việt Nam ghi nhận thêm 30 ca mắc Covid-19 trong cộng đồng tại 6 tỉnh thành</p>
                </a>
            </div>
            
        </div>
    </div>

    <div style="text-align:center; margin-top: 2px;">
        <span class="dot dot1" onclick="currentSlide(1)"></span>
        <span class="dot dot2" onclick="currentSlide(2)"></span>
        <span class="dot dot3" onclick="currentSlide(3)"></span>
        <span class="dot dot4" onclick="currentSlide(4)"></span>
        <span class="dot dot5" onclick="currentSlide(5)"></span>

    </div>

</div>
<div class="sliderNav">
    <a class="sliderNext">&#8594;</a>
    <a class="sliderPrev">&#8592;</a>
</div>

<script src="assets/js/js_index.js"></script>
<!-- /build:index -->

